#mainHeader {
    height: 300px;
    width: 100%;
    background: #FED121;
}


#mainHeaderBackground {
    height: 200px;
    width: 500px;
}

.verticalhorizontal {
    display: block;
    height: 300px;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    top: 0;
    position: fixed;
    z-index: -100;
}

.Logo-Img {
    display: block;
    /* height: 700px; */
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.mainHeaderPh {
    font: bold 14px Sans-Serif;
    font-size: 14px;
    color: #504720;
}

.nameHeader {
    font: bold 32px Sans-Serif;
    text-align: center;
    color: #504720;
}

.oneLiner {
    font: italic 12px Sans-Serif;
    text-align: center;
    font-size: 14px;
    color: #504720;
    margin-top: 89px;
    width: 24%;
    float: left;
    padding-left: 535px;
}

main {
    margin-top: 75px;
    position: relative;
    width: 80%;
    padding-left: 200px;
}

section{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.section-header {
    margin-bottom: 50px;
    font: normal 25px Sans-Serif;
    color: #504720;
    text-align: center;
    padding-right: 80px;
    
}


.fs-column {
  float: left;
   width: 20%;
   padding-right: 20px;
   padding-left: 20px;
}

.fs-column h4{
    margin-bottom: 20px;
    font: normal 20px Sans-Serif;
    color: #504720;
    text-align: center;
}

/* Clearfix (clear floats) */
.fs-row::after {
  content: "";
  clear: both;
  display: table;
}

.ss-column {
  float: left;
   width: 25%;
   padding-right: 32px;
   padding-left: 20px;
}

.ss-column h4{
    margin-bottom: 20px;
    font: normal 20px Sans-Serif;
    color: #504720;
    text-align: center;
    padding-right: 51px;
}
.ss-column img{
    height: 212px;
    width: 78%;
}

.ss-row{
   width: 75%;
   padding-left: 15%
}


/* Clearfix (clear floats) */
.ss-row::after {
  content: "";
  clear: both;
  display: table;
}

#third-section h1{
    margin-top: 100px;
    font: normal 25px Sans-Serif;
    color: #504720;

}

#third-section p{
    font: normal 18px Sans-Serif;
    color: #504720;
    margin-top: 50px;
    width: 78%;
    line-height:1.6;
    padding-left: 20px;
}

#my-photo-id {
    padding-left: 20px;
    float: right;
    margin-right: 125px;
    height: 338px;
}

#my-skills {
    margin-top: 150px;
    width: 78%;
}

#my-skills h1{
    font: normal 25px Sans-Serif;
    color: #504720;
    margin-bottom: 30px;

}

#my-skills p{
    font: normal 20px Sans-Serif;
    color: #504720;
    padding-left: 30px;
    /*word-spacing: 30px;*/
}

#my-skills br{
    line-height: 150%;
}


#my-resume h1{
    font: normal 25px Sans-Serif;
    color: #504720;
    margin-top: 200px;
}

#my-resume object{
    position: relative;
    left: 75px;
    width: 75%;
    height: 750px;
    background: white;
    margin-top: 30px;
}

#my-resume object:focus {
    outline: none;
}


.footer{
    width: 55%;
    padding-left: 40px;
}
.shape {
    position: relative;
    left: 375px;
    height: 64px;
    width: 175px;
    background-color: #504720;
    color: #F8E283;
    font-size: 20px;
    border-radius: 12px;
    border-width: 0px;
    margin-bottom: 35px;
    float: left;
    padding-right: 23px;
    padding-left: 20px;
    margin-right: 29px;
    margin-top:29px;
}

.mainfooter{
    height: 300px;
    width: 100%;
    background: #FED121;
    margin-bottom: 0px;
    
}


.nav-bar { width: 0%;
   }


.nav-bar h3{
  font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #504720;
    /* padding: 0px 20px 0px 5px; */
    padding-top: 113px;
    padding-left: 36px;
    padding-right: -47px;
    padding-bottom: 0px;
    margin: 0 0 15px 0;
    line-height: 12px;
    transform: rotate(270deg);
    
}

figure{
    border: white;
    background-color: white;
    width:185px;
    height:260px;
    align-items: center;
    position:relative;
}

figcaption{
    position: relative;
    /* left: 375px; */
    height: 30px;
    font-size: 24px;
    color: #504720;
    width: 103px;
    background-color: #707070;
    border-radius: 12px;
    border-width: 0px;
    /* margin-bottom: 35px; */
    text-align: center;
    padding-right: 22px;
    padding-left: 16px;
    margin-right: 29px;
    margin-top: 10px;    

}